<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:femanager="http://typo3.org/ns/In2code/Femanager/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:be.container
            enableClickMenu="false"
            loadExtJs="false"
            loadExtJsTheme="false"
            enableExtJsDebug="false"
            loadJQuery="false"
            jQueryNamespace="defaultNoConflict"
            pageTitle="formsave">

        <div class="module">
            <div class="module-docheader">
                <div class="typo3-docheader-functions">
                    <div class="module-docheader-bar module-docheader-bar-navigation">
                        <div class="module-docheader-bar-column-left">
                            <f:if condition="{femanager:be.isConfirmationModuleActivated()}">
                                <div class="btn-group btn-group-xs" role="group">
                                    <f:link.action action="list" class="btn btn-default{femanager:Be.GetClassNameOnAction(actionName:'list')}">
                                        <f:translate key="BackendSelectionList">List</f:translate>
                                    </f:link.action>
                                    <f:link.action action="confirmation" class="btn btn-default{femanager:Be.GetClassNameOnAction(actionName:'confirmation')}">
                                        <f:translate key="BackendSelectionList">Admin Confirmation</f:translate>
                                    </f:link.action>
                                    <f:if condition="{femanager:be.IsResendUserConfirmationRequestActivated()}">
                                        <f:link.action action="listOpenUserConfirmations" class="btn btn-default{femanager:Be.GetClassNameOnAction(actionName:'listOpenUserConfirmations')}">
                                            <f:translate key="BackendSelectionList">Open User Confirmtions</f:translate>
                                        </f:link.action>
                                    </f:if>
                                </div>
                            </f:if>
                        </div>
                        <div class="module-docheader-bar-column-right">
                            <f:be.pagePath />
                        </div>
                    </div>
                </div>
                <div class="module-docheader-bar module-docheader-bar-buttons">
                    <div class="module-docheader-bar-column-left">
                        <f:link.action action="list" class="btn btn-default btn-sm t3js-editform-close" title="Close">
                            <span class="t3js-icon icon icon-size-small icon-state-default icon-actions-close"
                                  data-identifier="actions-close">
                                <span class="icon-markup">
                                    <img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-close.svg" width="16" height="16">
                                </span>
                            </span>
                        </f:link.action>
                    </div>
                    <div class="module-docheader-bar-column-right">
                        <f:be.buttons.shortcut />
                    </div>
                </div>
            </div>
            <div class="module-body femanager-backend">
                <f:flashMessages as="flashMessages">
                    <div class="alert alert-warning">
                        <f:for each="{flashMessages}" as="flashMessage">
                            <div class="message-body">{flashMessage.message}</div>
                        </f:for>
                    </div>
                </f:flashMessages>

                <f:render section="Main"/>
            </div>
        </div>

    </f:be.container>

</html>
