<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <p>{documents -> f:count()} documents on this page.</p>

    <f:form action="download">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <f:form.select name="format" class="form-control">
                        <f:for each="{configurations}" as="configuration" key="key">
                            <f:form.select.option value="{key}">
                                {configuration.label -> f:or(alternative: configuration.mimeType)}
                            </f:form.select.option>
                        </f:for>
                    </f:form.select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Download</button>
        </div>
    </f:form>
</f:section>

</html>
